.body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h1{
    font-size: 50px;
    color: #575757;
    
}
h1 span{
    color: #FB9249;
}
h2{
    color: #707070;
    font-size: 40px;
}
p{
    color:#868686;
    font-weight: 500px;
    font-size: large;
    padding-bottom: 30px;
    justify-content:center;
}
.button{

    text-decoration: none;
    margin-top: 100px;
    text-align: center;
    padding: 15px 30px;
    color: whitesmoke;
    border-radius: 50px;
    background:linear-gradient(90deg, #FB984C,#FD4D30)
}
section{
    display: flex;
    margin-top: 50px;
    margin-bottom: 20px;
    
    
}
.About{
    background: url(images/shapes/7.png);
    padding-left: 5%; 
    
}
.half-width{
    width: 40%;
    float: left;
    margin:auto;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}

#im{
    width: 20%;
    padding-top: 40px;
}

.menu-text{
    text-align: center;
}
.menu{
    display: flex;
    width: 100%;
    
}
.head{
    justify-content:center;
}
.box{
    width: 100%;
    display: flex;
   justify-content:center;
    
}
.card{
    width: 25%;
    text-align: center;
    margin: 20px ;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 30px; 

}



.card img{
    width: 100%;
}



.head{
    text-align: center;
}

footer{
    background: black;
    text-align: center;
    padding-top: 10px;
    width: 100%;
    font-size: xx-large;
}
h3{
    color: cornsilk;
    font-size: 25px;
    
   
}
h3 span{
    color: chocolate;
}
h4{
    font-size: 20px;
    flood-color: black;
}
